body {
	font-family: 'Roboto', sans-serif;
	background: #F5F5F5;
	color: #333333;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.spacer {
	flex: 1;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  	-webkit-appearance: none; 
  	margin: 0; 
}

.clickable {
    cursor:pointer;
}

.header {
	height: 45px;
	background: #FCA43A;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 999;
}

.footer {
	height: 30px;
	background: #FCA43A;
	width: 100%;
}

.checked {
	color: #0ac522;
    margin-left: 10px;
}

.remove {
	color: #cc180b;
    margin-left: 10px;
}

.card__cancel {
	background-color: #cc180b;
	position: absolute;
	top: 100px;
	right: 15px;	
	height: 15px;
	width: 70px;
	border-radius: 2px;
	border: none;
	outline: none;
	text-align: center;
	text-transform: uppercase;
	opacity: 0.8;
	padding: 1px;
}

.flexbox-container-center {
  display: flex;
  align-items: center;
  justify-content: center;  
}

.card {
	width: 95%;
	border-radius: 5px;
	box-shadow: 0px 1px 3px #555555;
	background: #FFFFFF;
	margin: 5px 0px 5px 0px;
	position: relative;
	overflow: hidden;
}
 
/*for screen1*/
.card--product {
	height: 210px;
}

.card__img {
	position: absolute;
	top: 15px;
	left: 15px;
	border-radius: 50px;
	height: 75px;
	width: 75px;
}

.card__name {
	position: absolute;
	top: 15px;
	left: 105px;
}

.card__composition {
	position: absolute;
	top: 38px;
	left: 105px;
}

.card__margin {
	position: absolute;
	top: 68px;
	left: 105px;
}

.card__add {
	position: absolute;
	top: 55px;
	right: 15px;	
	height: 35px;
	width: 70px;
	border-radius: 5px;
	letter-spacing: 1px;
	text-transform: uppercase;
	outline: none;
}

.card__quantity {
	position: absolute;
	top: 55px;
	right: 15px;	
	height: 35px;
	width: 70px;
	border-radius: 5px;
	outline: none;
	border: 2px solid #4592D6;
	padding: 5px;
	text-align: center;
}

.card__quantity-indicator {
	position: absolute;
    right: 90px;
    top: 65px;
}

.card__add:focus , .card__add:hover {
	color: white;
    transform: scale(1.05);
    transition: 0.2s;
    box-shadow: 0px 1px 3px #888888;
    outline: none;
}

.card__ptr {
	position: absolute;
	top: 110px;
	left: 25px;
}

.card__ptr__data {
	position: absolute;
	top: 128px;
	left: 25px;
}

.card__mrp {
	position: absolute;
	top: 110px;
	left: 50%;
}

.card__mrp__data {
	position: absolute;
	top: 128px;
	left: 50%;
}


.card__scheme {
	position: absolute;
	top: 156px;
	left: 25px;
}

.card__scheme__data {
	position: absolute;
	top: 174px;
	left: 25px;
}

.card__distributor {
	position: absolute;
	top: 156px;
	left: 50%;
}

.card__distributor__data {
	position: absolute;
	top: 174px;
	left: 50%;
}

.regular {
	font-weight: 400;
}

.medium {
	font-weight: 500;
}

.bold {
	font-weight: 700;
}

.fs-45 {
	font-size: 45px;
}

.fs-30 {
	font-size: 30px;
}

.fs-27 {
	font-size: 27px;
}

.fs-24 {
	font-size: 24px;
}

.fs-21 {
	font-size: 21px;
}

.fs-18 {
	font-size: 18px;
}

.fs-16 {
	font-size: 16px;
}

.fs-14 {
	font-size: 14px;
}

.fs-12 {
	font-size: 12px;
}

.fs-10 {
	font-size: 10px;
}

.colour-555 {
	color: #555555;
}

.colour-888 {
	color: #888888;
}

.colour-FFF {
	color: #FFFFFF;
}

.colour-blue {
	color: #4592D6;
}

.bg-blue {
	background: #4592D6;
}

.bg-white {
	background: #FFFFFF;
}

.pad-0 {
	padding: 0;
}

.mgn-0 {
	margin: 0;
}

.mgn-top-55 {
	margin-top: 55px;
}

.mgn-bottom-30 {
	margin-bottom: 30px;
}

.modal-content--height {
	height: 95vh;
	position: relative;
}

.modal-header--border {
	border: none;
}

.modal-header .close {
    margin-top: -10px;
}

.close {
	position: absolute;
	right: 10px;
	top: 5px;
	opacity: 0.5;
}

.modal-content__product-name {
	position: absolute;
	left: 5%;
	top: 25px;
}

.modal-content__product-images {
    position: absolute;
    left: 5%;
    width: 90%;
    top: 65px;	
}

.modal-content__product-description {
    position: absolute;
    margin-top: 15px;
}

.modal-content__brand {
	position: absolute;
	margin-top: 145px;
}

.modal-content____brand__data {
	position: absolute;
	margin-top: 163px;
}

.modal-content__composition {
	position: absolute;
	margin-top: 145px;
	left: 50%;
}

.modal-content__composition__data {
	position: absolute;
	margin-top: 163px;
	left: 50%;
}

.modal-content__packaging {
	position: absolute;
	margin-top: 205px;
}

.modal-content__packaging__data {
	position: absolute;
	margin-top: 223px;
}

.modal-content__distributor {
	position: absolute;
	margin-top: 205px;
	left: 50%;
}

.modal-content__distributor__data {
	position: absolute;
	margin-top: 223px;
	left: 50%;
}

img[id^="ad-"] {
	width: 100%;
}

.modal-content__logo {
	position: absolute;
	bottom: 25px;
	width: 75px;
	margin: 0 auto;
    left: 0;
    right: 0;
}

.checkout-cta {
	position: fixed;
	bottom: 0;
	height: 65px;
	width: 100%;
	background-color: #333333;
	color: #FCA43A;
	box-shadow: 0px -1px 3px #000000;
}

.checkout-cta__cart-icon {
	position: absolute;
	bottom: 17px;
	left: 15px;
	width: 35px;
}

.checkout-cta__quantity {
	position: absolute;
	bottom: 35px;
	left: 60px;
}

.checkout-cta__total {
	position: absolute;
	bottom: 10px;
	left: 60px;
}

.checkout-cta__CTA-arrow {
	position: absolute;
	bottom: 19px;
	right: 15px;
	width: 25px;
}

.checkout-cta__CTA-text {
	position: absolute;
	bottom: 19px;
	right: 51px;
	text-transform: uppercase;
}

.order-summary {
	position: relative;
	margin-top: 60px;
	margin-left: 15px;
	margin-bottom: 10px;
}

.order-summary__icon {
	width: 35px;
	margin-right: 10px;
    margin-top: -10px;
}

.card--summary {
	height: 135px;	
}

.card__name--summary {
	left: 15px;
}

.card__quantity-indicator--summary {
	top: 55px;
	left: 15px;
}

.card__quantity--summary {
    top: 45px;
    left: 45px;
    height: 30px;
    border-radius: 3px;
    border: 1px solid #888888;
}

.card__free {
	position: absolute;
	top: 55px;
	left: 135px;
}

.card__ptr--summary {
	position: absolute;
	top: 55px;
	left: 200px;
}

.card__total--summary {
	top: 87px;
    left: 15px;
}

.card__scheme__data--summary {
	top: 105px;
    left: 15px;
}

.card__distributor--summary {
	top: 87px;
}

.card__distributor__data--summary {
	top: 105px;
}

.card__delete--summary {
	position: absolute;
	top: 15px;
	right: 15px;
	color: #cc180b;
	font-size: 21px;
}

.popup{
  animation: popup 0.2s;
}

@keyframes popup {
  0%{
    transform: scale(.0);
  }
  10%{
    transform: scale(.1);
  }
  20%{
    transform: scale(.2);
  }
  30%{
    transform: scale(.3);
  }
  40%{
    transform: scale(.4);
  }
  50%{
    transform: scale(.5);
  }
  60%{
    transform: scale(.6);
  }
  70%{
    transform: scale(.7);
  }
  80%{
    transform: scale(.8);
  }
  90%{
    transform: scale(.9);
  }
  100%{
    transform: scale(1.0);
  }
}

@media screen and (max-width: 400px) {
	.fs-21 {
		font-size: 18px;
	}

	.fs-18 {
		font-size: 16px;
	}

	.fs-16 {
		font-size: 14px;
	}

	.fs-14 {
		font-size: 12px;
	}

	.card--product {
		height: 205px;
	}

}

@media screen and (max-width: 320px) {
	.fs-21 {
		font-size: 16px;
	}

	.fs-18 {
		font-size: 14px;
	}

	.fs-16 {
		font-size: 12px;
	}

	.fs-14 {
		font-size: 10px;
	}

	.card__img {
		height: 70px;
		width: 70px;
	}

	.card--product {
		height: 200px;
	}

}

